.btn{
    font-size: 14px;
    font-weight: 500;
    background-color: $clr-02;
    color: $main-clr;
    border: 2px solid $clr-02;
    display: inline-block;
    text-transform: capitalize;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding:10px 30px;
    box-sizing: content-box;

    &:hover{
        background: $clr-02-hover;
        cursor: pointer;
    }
}
